@font-face {
  font-family: 'mediaweb-icons';
  src:  url('Mediaweb_Theme/mediaweb-icons.eot');
  src:  url('Mediaweb_Theme/mediaweb-icons.eot') format('embedded-opentype'),
    url('Mediaweb_Theme/mediaweb-icons.ttf') format('truetype'),
    url('Mediaweb_Theme/mediaweb-icons.woff') format('woff'),
    url('Mediaweb_Theme/mediaweb-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-mw-"], [class*=" icon-mw-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mediaweb-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mw-angle-double-down:before {
  content: "\e900";
}
.icon-mw-angle-double-left:before {
  content: "\e901";
}
.icon-mw-angle-double-right:before {
  content: "\e902";
}
.icon-mw-angle-double-up:before {
  content: "\e903";
}
.icon-mw-angle-down:before {
  content: "\e904";
}
.icon-mw-angle-left:before {
  content: "\e905";
}
.icon-mw-angle-right:before {
  content: "\e906";
}
.icon-mw-angle-up:before {
  content: "\e907";
}
.icon-mw-calendar:before {
  content: "\e908";
}
.icon-mw-caret-down:before {
  content: "\e909";
}
.icon-mw-caret-left:before {
  content: "\e90a";
}
.icon-mw-caret-right:before {
  content: "\e90b";
}
.icon-mw-caret-up:before {
  content: "\e90c";
}
.icon-mw-chart:before {
  content: "\e90d";
}
.icon-mw-chevron:before {
  content: "\e90e";
}
.icon-mw-cogwheel:before {
  content: "\e90f";
}
.icon-mw-ellipsis-h:before {
  content: "\e910";
}
.icon-mw-envelope:before {
  content: "\e911";
}
.icon-mw-files-3:before {
  content: "\e912";
}
.icon-mw-graph:before {
  content: "\e913";
}
.icon-mw-home:before {
  content: "\e914";
}
.icon-mw-like:before {
  content: "\e915";
}
.icon-mw-location-arrow:before {
  content: "\e916";
}
.icon-mw-lotus-icon:before {
  content: "\e917";
}
.icon-mw-mind-icon:before {
  content: "\e918";
}
.icon-mw-money-bag:before {
  content: "\e919";
}
.icon-mw-musculation-icon:before {
  content: "\e91a";
}
.icon-mw-phone-icon:before {
  content: "\e91b";
}
.icon-mw-place:before {
  content: "\e91c";
}
.icon-mw-search:before {
  content: "\e91d";
}
.icon-mw-sport:before {
  content: "\e91e";
}
.icon-mw-suitcase:before {
  content: "\e91f";
}
.icon-mw-time:before {
  content: "\e920";
}
.icon-mw-unlock:before {
  content: "\e921";
}
.icon-mw-unsorted:before {
  content: "\e922";
}
.icon-mw-unsorted-lines:before {
  content: "\e923";
}
.icon-mw-user:before {
  content: "\e924";
}
.icon-mw-wallet-notify:before {
  content: "\e925";
}
