@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

h1,
.heading1,
h2,
.heading2,
h3,
.heading3,
h4,
.heading4,
h5,
.heading5,
h6,
.heading6,
.font-size-display {
  font-weight: var(--font-medium);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.font-medium {
  font-weight: 500;
}
