.btn:not([class*="border-radius"]) {
    border-radius: var(--border-radius-rounded);
}

.btn {
  border-radius: var(--border-radius-rounded);
  font-weight: var(--font-medium);

      &:focus {
      border: var(--border-size-s) solid var(--color-neutral-0);
      outline: var(--border-size-m) solid var(--color-focus);
      }
      &:disabled {
      background-color: var(--color-neutral-4);
      color: var(--color-neutral-6);
      border-color: var(--color-neutral-6);
      }
}


.btn-primary {
  background-color: var(--color-primary);

      &:hover {
        background-color: var(--color-primary-dark);
      }
      &:active {
        background-color: var(--color-primary-darker);
      }
      &:focus {
        background-color: var(--color-primary-dark);
      }
}


.btn-secondary {
  background-color: var(--color-neutral-0);
  color: var(--color-primary);

      &:hover {
        background-color: var(--color-neutral-2);
      }
      &:active {
        background-color: var(--color-neutral-4);
      }
      &:focus {
        border: var(--border-size-s) solid var(--color-focus);
        outline: var(--border-size-s) solid var(--color-focus);
        background-color: var(--color-neutral-4);
      }
}


.btn-terciary {
  min-width: fit-content;
  background-color: var(--color-grape-lightest);
  color: var(--color-primary);
  border: var(--border-size-s) solid transparent;

      &:hover {
        background-color: var(--color-grape-lighter);
      }
      &:active {
        background-color: var(--color-grape-light);
      }
      &:focus {
        background-color: var(--color-grape-lighter);
      }
}


.btn-plain {
  border: var(--border-size-s) solid transparent;

      &:hover {
          background-color: var(--color-secondary-lightest);
      }
      &:active {
          background-color: var(--color-secondary-lighter);
      }
      &:focus {
          background-color: var(--color-secondary-lightest);
}
}
