.table {
    border: 0px;
}

.table-header th {
    border: 0px;
    padding: var(--space-none) var(--space-none);
}

.table-row {
    height: 70px;
    box-shadow: var(--shadow-xs);
    border-radius: var(--border-radius-softer);
}

table { 
    border-collapse: separate;
    border-spacing: 0 10px !important; 
    margin-top: -10px; /* correct offset on first border spacing */
}
.table-row td {
    border: var(--border-size-none);
    background-color: var(--color-neutral-0);
}
.table-row td:first-child, .table .table-row:last-child td:first-child {
    border-top-left-radius: var(--border-radius-softer);
    border-bottom-left-radius: var(--border-radius-softer);
}

.table-row td:last-child, .table .table-row:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius-softer);
    border-top-right-radius: var(--border-radius-softer); 
}

.table-header th {
    background-color: transparent;
    border-bottom: var(--border-size-none);
    color: var(--color-neutral-9);
    font-weight: var(--font-regular);
    padding: var(--space-none) var(--space-none);
}