.calendar {
  &__month {
    font-weight: var(--font-bold);
    font-size: var(--font-size-s);
    color: var(--color-secondary-darkest);
  }

  .icon {
    color: var(--color-secondary-darkest);
    font-size: var(--font-size-xl);
  }

  &__days {
    display: flex;
    justify-content: space-between;
  }

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    position: relative;

    &-weekday {
      font-weight: var(--font-medium);
      color: var(--color-blue-dark);
      margin-bottom: var(--space-xs);
    }

    &-number {
      display: block;
      color: var(--color-neutral-7);
      font-weight: var(--font-bold);
    }

    &--today {
      border-radius: var(--border-radius-rounded);
      background-color: var(--color-blue);
      color: var(--color-neutral-0);
      width: 41px;

      .calendar__day-weekday,
      .calendar__day-number {
        color: var(--color-neutral-0);
      }
      &::before { 
        content: "";
        position: absolute;
        bottom: var(--space-l);
        right: var(--space-s);
        width: 4px;
        height: 4px;
        border-radius: var(--border-radius-rounded);
        background-color: var(--color-neutral-0);
      }
    }

    &--last {
      .calendar__day-weekday,
      .calendar__day-number {
        color: var(--color-neutral-4);
      }
    }
  }
}

/* .calendar {
  &__heading {
    font-weight: var(--font-bold);
    font-size: var(--font-size-s);
    color: var(--color-secondary-darkest);
    margin-block-start: var(--space-xs);
    margin-block-end: var(--space-xs);
  }

  &__week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__day {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    padding: 8px var(--space-none);
    border-radius: var(--border-radius-rounded);
    font-size: var(--font-size-s);
    font-weight: var(--font-medium);
    p {
      margin-block-start: var(--space-xs);
      margin-block-end: var(--space-xs);
    }
  }

  &__weekday {
    color: var(--color-blue-dark);
  }

  &__numberday {
    color: var(--color-neutral-7);
    font-weight: var(--font-bold);
  }

  &__numberday--schedule::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 16px;
    width: 4px;
    height: 4px;
    border-radius: var(--border-radius-rounded);
    background-color: var(--color-blue);
  }

  &__day--active {
    background-color: var(--color-blue);
    padding: 8px 5px;
  }

  &__day--active .calendar__numberday--schedule::before {
    left: 28px;
    background-color: var(--color-neutral-0);
  }

  &__weekday--active,
  .calendar__numberday--active {
    color: var(--neutral-color-0);
  }
  
  &__day--disabled {
    color: var(--color-neutral-4);
  }
}
 */
