.card-advanced {
  border-radius: var(--border-radius-softer);
  padding: var(--space-m);
  color: var(--color-secondary-dark);
  font-weight: var(--font-medium);
  line-height: 24px;
  position: relative;
  overflow: hidden;
  min-height: fit-content;
  width: 100%;

  /* Aligns Image to either top or bottom */
  &__background-image {
    img {
      @include background-image-align;
    }

    &--top {
      img {
        @include background-image-align($bottom: auto, $top: 0, $right: var(--space-base));
      }
    }
  }

  &__title {
    font-size: var(--font-size-s);
    font-weight: var(--font-bold);
  }
  &__subtitle {
    font-size: var(--font-size-s);
    font-weight: var(--font-bold);
  }

  &__content {
    font-size: var(--font-size-s);
    font-weight: var(--font-medium);
    z-index: 1;
    position: relative;
  }

  &__content-image {
    display: flex;
    flex-direction: column;
    img {
      width: fit-content;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      padding: var(--space-s);
    }
  }

  /* 3 Columns with Icons  */
  &__icon-column .columns-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-secondary-lightest);
      padding: 10px;
      border-radius: var(--border-radius-soft);
      width: 45px;
      height: 45px;
    }
  }

  /* Corner Action Button */
  &__btn {
    .btn:not([class*="border-radius"]) {
      border-radius: var(--border-radius-none);
      border-top-left-radius: var(--border-radius-softer);
    }

    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-neutral-0);
      border-radius: var(--border-radius-none);
      border: var(--border-size-none);

      .icon {
        color: var(--color-blue-darkest);
        font-size: var(--font-size-display);
        font-weight: var(--font-bold);
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  /* Overrides 
  &.card {
    border: var(--border-size-none);
    border-radius: var(--border-radius-softer);
  }

  .card-content {
    padding: var(--space-s) var(--space-m);
  }
    */

  a {
    color: var(--color-blue-light);
  }
}

/* Style list of people */
.attendees {
  display: flex;
  flex-shrink: 0;
  margin-left: 8px; /* Correct offset from attendees img */

  img {
    background-color: var(--color-secondary);
    border: var(--border-size-s) solid var(--color-neutral-0);
    overflow: hidden;
    margin-left: -8px;
    border-radius: var(--border-radius-circle);
    width: 37px;
    height: 37px;
  }

  &::after {
    font-family: "Raleway";
    color: var(--color-neutral-0);
    content: "+12";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    background-color: var(--color-blue-darker);
    border-radius: 100%;
    border: var(--border-size-s) solid var(--color-neutral-0);
    overflow: hidden;
    margin-left: -8px;
  }
}
