.user-details {
  display: flex;
  align-items: center;
  column-gap: var(--space-base);

  h1 {
    font-weight: var(--font-bold);
    color: var(--color-blue-darkest);
    font-size: var(--font-size-s);
    white-space: nowrap;
  }

  p {
    color: var(--color-blue);
    font-size: var(--font-size-xs);
    font-weight: var(--font-regular);
    margin: var(--space-xs) var(--space-none) var(--space-none) var(--space-none);
    white-space: nowrap;
  }

  .icon {
    color: var(--color-neutral-10);
    font-size: var(--font-size-xl);
  }
}
