.user-details {
  display: flex;
  align-items: center;
  column-gap: var(--space-base);

  &__name {
    font-weight: var(--font-bold);
    color: var(--color-blue-darkest);
    font-size: var(--font-size-s);
  }

  &__details {
    color: var(--color-blue);
    font-size: var(--font-size-xs);
    font-weight: var(--font-regular);
  }

  &__photo {
    border-radius: var(--border-radius-circle);
  }

  .icon {
    color: var(--color-neutral-10);
    font-size: var(--font-size-xl);
  }
}
