.pagination-button {
    border: var(--border-size-none);
    font-weight: var(--font-regular);
    border-radius: var(--border-radius-circle);
    background-color: transparent;
    color: var(--color-neutral-8);
    height: 32px;
    width: 32px;
    
    &.is--active {
        border: var(--border-size-s) solid var(--color-primary);
        color: var(--color-primary);
        background-color: var(--color-neutral-0);
    }
    &[disabled] {
        opacity: 1;
        color: var(--color-neutral-6);
    }
}

.pagination-next {
    color: var(--color-neutral-7);
}