.tag {
    border-radius: var(--border-radius-rounded);
    font-weight: var(--font-medium);
    font-size: var(--font-size-s);
    padding: var(--space-xs) var(--space-base);

    &-small {
        padding:var(--space-xs) var(--space-s);
    }
    &-medium {
        padding:var(--space-s) var(--space-m);
    }
}