.card-event {
  border-radius: var(--border-radius-softer);
  padding: var(--space-m);
  background-color: var(--color-secondary-lightest);
  color: var(--color-secondary-dark);
  font-weight: var(--font-medium);
  line-height: 24px;
  position: relative;
  overflow: hidden;
  min-height: fit-content;
  width: 100%;

  &__image {
    position: absolute;
    top: 0;
    right: 20px;
    object-fit: cover;
    z-index: 0;
  }

  &__title {
    color: var(--color-secondary-darkest);
    font-size: var(--font-size-s);
    font-weight: var(--font-bold);
  }

  &__content {
    color: var(--color-secondary-darker);
    font-size: var(--font-size-s);
    font-weight: var(--font-medium);
  }

  a {
    color: var(--color-blue-light);
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-neutral-0);
    border-top-left-radius: var(--border-radius-softer);
    border: var(--border-radius-none);
    color: var(--color-blue-darkest);
  }

  .card-content {
    padding: var(--space-s) var(--space-m);
  }
}
