.tablet .app-menu-content,
.phone .app-menu-content {
  left: 0;
}

.layout.layout-side .main {
  margin-left: var(--left-sidebar-width);
  margin-right: var(--right-sidebar-width);
  transition: margin var(--transition-timing) var(--transition-effect);
  background-color: var(--color-secondary-lightest);
  border-radius: var(--border-radius-none) 51px 51px var(--border-radius-none);
}

/* Left Sidebar */
.layout-side .aside-navigation {
  width: var(--left-sidebar-width);
  position: relative;
  transition: opacity var(--transition-timing) var(--transition-effect), width var(--transition-timing) var(--transition-effect);
}

.layout-side .aside-navigation .app-menu-content {
  color: var(--color-neutral-0);
  background-color: var(--color-primary);
  border-radius: var(--border-radius-none) var(--border-radius-rounded) var(--border-radius-rounded) var(--border-radius-none);
  width: var(--left-sidebar-width);
  transition: width var(--transition-timing) var(--transition-effect);
}

.layout-side .aside-navigation .app-menu-content a,
.layout-side .aside-navigation .app-menu-links a:hover,
.layout-side .aside-navigation .app-menu-links a.active:hover {
  color: var(--color-neutral-0);
}

.layout-side .application-name .app-name {
  transition: opacity var(--transition-timing) var(--transition-effect), width var(--transition-timing) var(--transition-effect);
  white-space: nowrap;
  font-size: var(--font-size-m);
  color: var(--color-neutral-1);
  font-weight: var(--font-medium);
}

.layout-side .header-logo {
  justify-content: space-between;
  padding: var(--space-base) var(--space-base);
}

.layout-side .aside-navigation .btn,
.phone .layout:not(.layout-native) .btn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: var(--border-size-none);
  padding: var(--space-none);
  position: absolute;
  right: var(--space-base);
  top: var(--space-base);
  z-index: 12;
  transition: opacity var(--transition-timing) var(--transition-effect), width var(--transition-timing) var(--transition-effect);
}

.layout-side .aside-navigation .app-menu-links {
  padding: var(--space-base) var(--space-l);
  gap: var(--space-base);
  margin-top: 145px;
  align-items: start;
}

.layout-side .aside-navigation .app-menu-links a {
  height: 48px;
  padding: var(--space-none);
  margin: var(--space-none);
  gap: var(--space-base);
}

.layout-side .aside-navigation .app-menu-links a:last-child {
  bottom: var(--space-base);
  position: absolute;
}
.layout-side .aside-navigation .app-menu-links a span {
  transition: all var(--transition-timing) var(--transition-effect);
}

.layout-side .aside-navigation .app-menu-links .icon {
  height: 48px;
  width: 48px;
  font-size: var(--font-size-h1);
  place-content: center;
  border-radius: var(--border-radius-link-icon);
}

.sidebar-dark {
  background-color: var(--color-secondary-darkest);

  & .icon-active {
    background-color: var(--color-neutral-0);
    color: var(--color-secondary-darker);
  }
}

.icon-active {
  background-color: var(--color-primary-darker);
}

/* Left Sidebar Collapsed */
.layout.layout-side.layout-side--collapsed {
  .aside-navigation .app-menu-content {
    width: var(--left-sidebar-width-collapsed);
  }

  .aside-navigation {
    width: var(--left-sidebar-width-collapsed);
  }

  .app-menu-links span,
  .application-name span {
    width: 0;
    opacity: 0;
  }

  .aside-navigation .btn .icon {
    transform: rotate(180deg);
  }

  .main {
    margin-left: var(--left-sidebar-width-collapsed);
  }
}

/* Right Sidebar */

.osui-sidebar--is-right {
  padding: 36px;
  box-shadow: var(--shadow-none);
  width: var(--right-sidebar-width);
  transform: translateX(101%);

  .btn-arrow {
    width: 40px;
    height: 92px;
    left: -40px;
    position: absolute;
    background: var(--color-neutral-0);
    border: var(--border-size-none);
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    z-index: 999;
    cursor: pointer;
    color: var(--color-primary);
    .icon {
      width: fit-content;
      height: fit-content;
      font-size: var(--font-size-display);
      font-weight: var(--font-bold);
    }
  }
}

.layout.layout-side.layout-side-right--closed {
  .btn-arrow .icon {
    transform: rotate(180deg);
  }
  .main {
    margin-right: 0;
  }
}

.osui-sidebar:not(.osui-sidebar--is-open):not(.no-transition) {
  opacity: 1;
}
